---
---

@import "minima";

@media (max-width: 600px) {
  .numberBond input {
    width: 120px;
    height: 120px;
    font-size: 22px;
    margin: 5px;
    border-width: 3px;
  }

  .parts {
    gap: 20px;
  }

  .bondLines {
    width: 140px;
    height: 34px;
  }

  .line {
    width: 75px;
    top: -15px; 
    border-top: 3px solid black;
  }

  .leftLine {
    left: -35px;
    transform: rotate(-45deg); 
  }

  .rightLine {
    right: -35px;
    transform: rotate(45deg);
  }
}
